body {
  font-family: "Inter", sans-serif;
}
.tourlist-container{
  padding: 50px 135px;
}
.tour-list{
  margin-left: auto;
  margin-right: auto;

  /* max-width: 1170px; */
  /* width: 1170px; */
  height: 499px;
}
.tuor-container{
  border-radius: 20px;
  border: 1px solid rgb(9, 9, 8);
}
.tour-list{
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.tour{
  width: 33.33%;
}
.tuor-content{
  padding: 20px;
}
.tour-top{
  border-radius: 20px;
}
.tour-top ~ img{
  border-radius: 20px;
  width: 100%;
}
.tour-reviews ~ img {
  width: 100%;
}
.tour-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tour-ratting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.tour-button{
  padding: 20px;
  background-color: rgb(30, 88, 174);
  color: white;
  border-radius: 15px;
  box-shadow: none;
  border: 0px;
  font-size: 20px;
}

