.line {
  text-align: center;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 1px;
    top: 50%;
    right: 0;
    transform: translateY(869%);
  }
}
.text {
  background-color: white;
  position: absolute;
  z-index: 1111;
  right: 50%;
  top: 0;
}

.btn {
  margin-top: 50px;
  padding: 15px;
  border-radius: 14px;
  overflow: hidden;
  color: dark;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    background: currentColor;
    opacity: 0.3;
  }
}
