
mixin popularItem()
    .popular-item 
        .popular-images 
            img(src="./img/vit.jpg" alt="vit").popular-img
            span.popular-label Must See 
        .popular-content 
            span.popular-time Sep 28 10:00 AM - 1:00 PM 
            h3.popular-title The Grand Palace
            .popular-reviews 
                img(src="./img/star.png" alt="Ngoi Sao")
                span 4.8 (12 reviews)