mixin popularItem ()
    .popular-item 
        .popular-images 
            img.popular-img(src="https://source.unsplash.com/random" alt="") 
            .popular-label Must See 
        .popular-content 
            time.popular-time Sep 28 10:00 AM - 1:00 PM
            .popular-title The Grand Palace
            .popular-review 
                img.popular-star(src="./img/star.png" alt="")
                span 4.8 (12 reviews)