include ./pug-mixin/popular-item
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="./css/main.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet")
    body 
        .container 
            h2 Popular things to do in Bangkok
            .popular-list 
                +popularItem
                +popularItem
                +popularItem
                +popularItem
